.navbar {
    background-color: rgb(55 65 81 / var(--tw-bg-opacity, 1))
       
}

li {
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    
}
li:hover {
    cursor: pointer;
    text-decoration: underline;
}
.icon {
    font-weight: bolder;
}